<h1>Editing book store</h1>

<%= render "form", book_store: @book_store %>

<br>

<div>
  <%= link_to "Show this book store", @book_store %> |
  <%= link_to "Back to book stores", book_stores_path %>
</div>
