<header>
  <div class='container'>
    <nav>
      <ul>
        <li><h1><%= link_to 'Bookstores', root_path%></h1></li>
        <li><h2><%= link_to 'Books', books_path%></h2></li>
      </ul>
    </nav>
  </div>
</header>